.aboutheader {
  position: relative;
  margin: 180px 56px -70px;
  padding-top: 0;
}

body {
background: #ECEAEC;
}

.aboutBio {
  display: block;
  clear: both;
  margin: 0 56px;
}

.aboutBio:after, .aboutBio:before {
  content: "";
  display: table;
  clear: both;
}

.aboutBio-text {
  display: inline-block;
  width: calc(75% - 177px);
  float: left;
  margin-top: -5rem;
  margin-left: 137px;
  margin-right: 40px;
}

.aboutBio-text p {
  text-align: left;
  float: left;
  font-size: 21px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.fa-linkedin {
  padding-left:25rem;
    color: #3B5998;
}

.fa-github {
  padding-left:5rem;
    color: black;
}


.fa:hover {
    opacity: 0.7;
}

.headshot {
  display: inline-block;
  float: left;
  height: 498px;
  margin-top: -5rem;
  width: 25%;
  margin-bottom: 10rem;
}


.headshot img {
  width: 100%;
  clear: both;
}

footer {
	  overflow: hidden;
    padding: 4rem 0 0 0;
    bottom: 3rem;
    position: fixed;
    width:100%;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 70%;
  }
  .aboutheader {
    visibility: hidden;
    margin: 0;
  }
  .aboutBio-text {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
  }
  .aboutBio {
    margin: 0 24px;
  }
.headshot {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}
.fa-linkedin {
  padding-left: 10rem;
  padding-bottom: 5rem;
}
footer {
  margin-top: 1rem;
}
}

@media screen and (max-width: 959px) and (min-width: 600px) {
  html {
    font-size: 90%;
  }
  .aboutheader {
    margin-left: 2.6rem;
  }
  .topnav {
    height: 15rem;

  }
  .aboutBio-text {
  margin-top: 0;
  margin-left: 0;
  width: 60%;
}
.headshot {
  margin-left: 0;
  margin-top: 0;
}
.fa-linkedin {
  padding-left:5rem;
}
.icon {
  margin-bottom: 10rem;
}
}

@media screen and (min-width: 959px) and (max-width: 1200px){
  .main {
    padding-top: 5rem;
  }
  .aboutheader {
    margin-left: 5.6rem;
  }
  .aboutBio-text {
    margin-left: 0;
    width: 70%;
  }
}
