.case_study_title h3 {
  padding-top: 3rem;
}

.top {
  padding-bottom: 20rem;
}

.gallery {
  padding: 0 0 0 1rem;
  float: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .4rem;
}

.aboutProject-image img{
  padding-top: 3rem;
  width: 50%
}

.column2 {
  align-content: center;
  flex: 50%;
  max-width: 50%;
  padding: 0 3.8rem;
  margin-bottom: 4rem;
}

.column2 img {
  margin-top: 1.2rem;
  vertical-align: middle;
  width: 100%;
}

.content{
    font-family: "Raleway", arial, sans-serif;
}

.content h3 {
    color: #3F3250;
    font-weight: bold;
    font-family: "Raleway", arial, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0 0 2rem;
}

a:hover{
  color: #3F3250;
  cursor: auto;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
.column2 {
  padding: 0 .8rem;
}
}

@media screen and (max-width: 959px) and (min-width: 600px) {
  .column2 {
    padding: 0 .8rem;
  }
  }
