body {
  margin: 0px;
  display: block;
  overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  overflow-x: hidden;
}

p{
  line-height: normal;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: .5px;
}

.topnav a {
  text-decoration: none;
}

.topnav h1 {
  text-decoration: none;
  position: relative;
  vertical-align: middle;
  display: inline;
  padding-left: 20rem;
  font-size: 3.8rem;
  line-height: 10rem;
  overflow: hidden;
  color: #3F3250;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 400;
}

.dropbtn {
  text-decoration: none;
  margin-top: 4rem;
  margin-right: 2rem;
  font-size: 2rem;
  font-family: "Raleway", arial, sans-serif;
  background-color: inherit;
    color: #3F3250;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 300px;
    padding: 2rem;
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    background-color: #3F3250;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  font-size: 1.4rem;
  font-family: "Raleway", arial, sans-serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FFBD66;
}

.topnav h1:hover {
    color: #FFBD66;
}

.dropdown-content a:active {
    color: white;
    text-decoration-color: #458355;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FFBD66;
}

.topnav h1:active {
    color: white;
    text-decoration-color: #458355;
}

.logo {
  position: absolute;
  max-width: 20%;
  max-height: 20%;
  padding-left: 6rem;
  float: left;
  top: 0;
  z-index: 2;
  margin: 0;
}

.logo img {
  height: auto;
  max-height: 12rem;
  width: auto;
}

.topnav {
    height: 20rem;
    display: inline-block;
    right: 0;
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    z-index: 1;
}

input[type=button] {
    background-color: #FFB149;
    color: black;
    font-family: "Raleway", arial, sans-serif;
    font-size: 1.8rem;
    padding: 2.2rem 6rem;
    border: none;
    border-radius: 8rem;
    cursor: pointer;
}

.burger {
  display: none;
}

footer p:nth-child(2){
    font-family: "Raleway", arial, sans-serif;
    color: #3F3250;
    text-align: left;
    padding-left: 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 6rem;
}

footer p:nth-child(3){
    font-family: "Raleway", arial, sans-serif;
    color: #3F3250;
    padding-right: 2rem;
    text-decoration: none;
    float: right;
    display: inline;
    vertical-align: middle;
    font-size: 1.7rem;
    margin: 0;
    padding-right: 6rem;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 3.8rem;
}


@media screen and (max-width: 599px) and (min-width: 320px) {
  .column {
  min-width: 100%;
  flex: 100%;
}
.topnav h1 {
    display: none;
  }
  hr {
    margin-top: 6rem;
  }
  .dropbtn{
    margin-top: 10px;
    cursor: pointer;
  }
  .work-button {
    cursor: pointer;
  }
  .main-text {
    display: none;
    visibility: hidden;
  }
.logo {
  padding-left: 2rem;
}
  .burger {
  display: inline-block;
  float: right;
  padding-top: 2rem;
}
.burger:hover {
  cursor: pointer;
}
.nav a {
  display: none;
}
  .topnav {
    height: 8rem;
  }
  .topnav .nav a {
    font-size: 1.2rem;
    padding: 0 1rem 0;
  }
  html {
    font-size: 70%;
  }
  .topnav .nav {
    margin-right: 1rem;
    padding-right: 0;
      }
      .logo img {
        height: 92px;
      }
      .logo h1 {
      left: 3.6rem;
      font-size: 160px;
      top: -30px;
      height: 8rem;
    }
    .logo img {
      height: 8.1rem;
      width: auto;
    }
    footer p:nth-child(2) {
      visibility: hidden;
    }
    footer p:nth-child(3){{
      align-items: center;
    }
}

  /* medium screen */
@media screen and (max-width: 959px) and (min-width: 600px) {
  .column {
  min-width: 100%;
  flex: 100%;
}
  .logo {
    padding-left: 2rem;
  }
.topnav h1 {
  padding-left: 10.8rem;
  line-height: 2.8rem;
  font-size: 2.8rem;
}
      .burger {
  display: inline-block;
}
.burger:hover {
  cursor: pointer;
}
html {
        font-size: 80%;
      }

      .logo h1 {
      left: 3.5rem;
      height: 8rem;
    }
    .logo img {
      height: 7.9rem;
      width: auto;
    }
    .mobile-text{
      display: none;
      visibility: hidden;
    }
    p:first-child(2) {
     visibility: hidden;
    }
    }

@media screen and (min-width: 600px){
  .mobile-text{
    display: none;
    visibility: hidden;
  }
    }


@media screen and (min-width: 1000px){
  .logo h1 {
  height: 8rem;
}
.mobile-text{
  display: none;
  visibility: hidden;
}
}



@media all and (min-width: 32rem) {
section {
  font-size: 2rem;
  font-weight: 900;
  padding: 35rem 0;
  text-align: center;
}
}
