body {
  background: #ECEAEC;
}

.gallery {
  padding: 0 0 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .4rem;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 3.8rem;
  margin-bottom: 4rem;
}

.column img {
  margin-top: 1.2rem;
  vertical-align: middle;
  width: 100%;
}

.content{
    font-family: "Raleway", arial, sans-serif;
}

.content h3 {
    color: #3F3250;
    font-weight: bold;
    font-family: "Raleway", arial, sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0 0 2rem;
}

footer {
	  overflow: hidden;
    padding: 4rem 0 0 0;
    position: sticky;
    width:100%;
}

@media screen and (max-width: 599px) and (min-width: 320px) {
.workheader {
  visibility: hidden;
  margin: -1rem;
}
}

@media screen and (max-width: 959px) and (min-width: 600px) {
  .workheader {
    visibility: hidden;
      margin: -1rem;
  }
}
